.container{
    text-align: center;
    margin-top:45px
}

table{
    margin: auto;
}

input{
    border: 2px solid ;
	border-radius: 10px;
    font-size:34px;
    height: 60px;
    width: 358px;
}

button{
    font-size: 30px;
	border: 2px solid ;
	border-radius: 10px;
    background: white;
    width: 78px;
    height: 60px;
    margin: 6px;
}

.calculator{ 
    border: 2px solid ;
	border-radius: 10px;
    background-color: #B6CEC7;
    padding: 13px;
    display: inline-block;
    
}

